<fieldset>
  <legend>Power Component</legend>
  <div style="display: flex; justify-content: space-between;">
    <form>
      <span>Initial Power Level: </span>
      <input type="number" min="0" max="100" name="basepowerlevel" [(ngModel)]="basepowerlevel">
      <input type="submit" value="Calculate Powers">
    </form>
    <img src="./../assets/goku.png" alt="goku" height="150px">
  </div>
  <div style="display: flex; justify-content: space-between;">
    <app-human-component style="width: 100%;" [bpl]='basepowerlevel'></app-human-component>
    <app-saiyan-component style="width: 100%;" [bpl]='basepowerlevel'></app-saiyan-component>
    <app-super-saiyan-component style="width: 100%;" [bpl]='basepowerlevel'></app-super-saiyan-component>
  </div>
  <div style="display: flex; justify-content: space-between;">
    <app-super-saiyan-two-component style="width: 100%;" [bpl]='basepowerlevel'></app-super-saiyan-two-component>
    <app-super-saiyan-three-component style="width: 100%;" [bpl]='basepowerlevel'></app-super-saiyan-three-component>
    <app-super-saiyan-four-component style="width: 100%;" [bpl]='basepowerlevel'></app-super-saiyan-four-component>
  </div>
</fieldset>